body{
    background-color: #DCE1D3 ;
    font-family: 'Playfair Display', serif;
    text-align: justify;
}
#animation{
    transition: background-color 1s ease;
}


header{
    background-color : #8FBABF;
}

a{
    color: rgb(22, 21, 21);
    margin: 10px;
    font-size: 20px;
}
.nav-link{
    font-size: 15px;
    padding-bottom: 0;
    border-bottom: solid 0.1rem; 
    transition: all 1s ease;
}
.nav-link:hover, .nav-link:focus{
    border-bottom: #e61818; 
    color: #e61818;
}
.animationSVG{
      transition: all 5s ease;
}
.animationSVG:hover{
    transform: scale(1.5)
    
}
.image_de_background{
    border-radius: 50%;
    position: absolute;
    animation: monAnimation 8s;
    animation-iteration-count : 3;
    z-index: 1000;
}

@keyframes monAnimation{
    0%{
        left: 1%;
        top: 1%;
    }
    25%{
        top:1%;
        left:86%
    }
    50%{
        top:80%;
        right: 8%;
    }
    75%{
        right : 86%;
        top:78%;
    }
    100%{
        top:1%;
        right:89%;
        display: none;
    }
}
h1{
    color :  #002554;
    font-family: 'Lemon', cursive;
}
h2{
    color : #002554;
}
.positionh1{
    padding-top: 100px;
    padding-left: 50px;
}
.positionh2{
    padding-top: 10px;
    padding-left: 50px;
}

.image-animer{
 
    background-image: url('images/image-creative.jpg');
    background-repeat: no-repeat;
    background-position: 10% 10%;
    height: 500px;
    font-family: 'Lemon', cursive;
}
.motdebienvenue{
    color: #002554;;
    padding-top: 100px;
    padding-left: 50px;
}
.titre-prsentation{
    margin: 40px 40px 50px 40px;
    text-align: center;
}
span{
    display: block;
    text-align: center;
}

.lienPage{
    color: darkblue;
    text-decoration: none;
}
hr{
    margin: 60px;

}
.col-sm{
    padding-bottom: 40px;
    padding-left: 30px;
    margin-bottom: 35px;
}



/**********************************************
*
* footer css
*
**********************************************/
footer{
    background-color: #8FBABF;
}
.wrapper{
    text-align: center;
}
.wrapper ul {
    list-style: none;
    margin: 0;
}
.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    display: inline;

  }
.hoverIcone{
    border-radius: 0.1rem;
    transition: all 1s ease-out;

}
.hoverIcone:hover{
    border-radius: 20px solid #FFC72C;
    box-shadow: 0 0 30px #FFC72C;
    transform: rotate(60deg);
}

  .sub-footer{
      background-color: #002554;
      color: white;
  }
  /**************************************************************
  *
  * CSS page blog
  *
  ***************************************************************/
  .espacetitre{
      margin-bottom: 80px;
  }
  .clortitre{
      background-color:#DEB887;
      padding: 50px;
      border-radius: 20px;
      margin: 20px;
  }
  .changeColor01{
      background-color: rgb(135, 23, 240);
  }
  .changeColor02{
    background-color:rgb(95,158,160);
  }
  .changeColor03{
    background-color:rgb(149, 190, 151);
  }
  h2{
      width: 600px;
  }
   /**************************************************************
  *
  * CSS Contacter moi
  *
  ***************************************************************/
.nouscontacter{
    width: 45%;
}
.lignenouscontacter{
    width: 45%;
}
.contenue-form{
    margin : 29px 24px 120px 20px;
}
.nom{
    width: 395px;
}
.prenom{
    width: 500px;
    margin: 0 0 0 20px;
}
.tele-courriel{
    width: 656px;
}
input, textarea, select{
    background-color:#d5dad5;
    height: 66px;
    border: none;
    margin-bottom:34px;
    font-weight: medium;
    font-size: 24px;
    border-radius: 5px;
    color:  #034726;
}

:placeholder-shown{
    padding: 10px;
}
textarea{
    Width:975px;
    Height:285px;
}
.monform{
    position: relative;
}

#button{
    position: absolute;
    width: 310px;
    background-color: #A2E3C4;;
    color: rgb(17, 16, 16);
    border-radius: 5px;
    height: 86px;

 }

 .projet-1{
     border-radius: 90%;
 }

/*******************************************
*
* Page présentation
*
***********************************************/

.photoProgrammeur{
    width: 150px;
    margin-left: 80px;
    margin-top: 2rem;
    margin-right: 5rem;
  
}
.presentation{
    display: flex;

}
.pragraphPresentation{
    background-color: #AEBBA7;
    padding: 20px;
    margin-top: 100px;
    width:60%;
}
.containerPresentation{
    margin: 0 auto;
    width: 1024px;
}
.imagePresentation{

    margin-left: 30px;
    
}
#coleurspan {
    margin-top: 20px;

}
.monarticle{
    background-color: #AEBBA7 ;
}

.numbercapatche{
font-family: 'Hanalei', cursive;
text-align: centre;
font-size: 60px;
}
.col-sm{
    margin-left:  100px;
}
#quelquesProjts{
    margin-top: 40px;
}


/*************************************
* css pour la fenêtre modal
*
**************************************/

.modal {
  display: none;
  position: fixed; 
  padding-top: 100px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 40px; 
  margin: auto; 
  width: 40%;  
  animation-name: animatmodal;
  animation-duration: 0.4s;
  animation-name: animatmodal;
  animation-duration: 0.4s
}
.close-btn {
  position: absolute;
  color: rgb(17, 17, 17); 
  font-size: 30px;  
  font-weight: bold;
  padding:10px;
  right: 1%;
  top:-5%;
  

}
.close-btn:hover {
  color: darkgray;
}
@keyframes animatmodal {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

.btn-infolettre{
    position: absolute;
    left:10%;
    top: 80%;

    
}